/*样式*/
/*css初始化*/
* {
	margin:0;
	padding:0;
}
/*body添加高度 方便查看效果*/
/*body {
	height: 3000px;
}*/
ul {
	list-style: none;
}
/*清除浮动*/
.clearfix:before,.clearfix:after {
	display: table;
	content:"";
}
.clearfix:after {
	clear:both;
}
/*zoom就是ie6.7清除浮动的方法*/
.clearfix {
	*zoom:1;
}
/*所有的表单边框为0*/
/*css3盒子模型border和padding都包含到width里去*/
input {
	border: 0; 
	box-sizing: border-box;
}
/*我们的版心宽度都是1200 都要居中对齐*/
.container {
	width:1200px;
	margin:0 auto;
}
/*css初始化结束*/
/*页面头部分*/
body {
	background-color: #f3f5f7; 
}
header {
	height: 96px;
	/*background-color: skyblue;*/
	overflow: hidden;
}
nav {
	width: 1312px;  /*宽度暂且定为1336px*/
	height: 42px;
	/*background-color: white;*/
	margin: 25px auto;
}
.logo {
	float:left;
	margin-right: 78px;
}
.navbar {
	float: left;
	height: 42px;
}
.navbar li {
	float: left;
	line-height: 42px;
}
.navbar li a {
	text-decoration: none;
	color: #050505;
	font-weight: 18px;
	padding:0 10px;  /*使用padding设置宽度*/
}
a:hover {
	border-bottom: 1px solid blue;
}
.search {
	height:38px;
	width: 410px;
	border:1px solid #00a4ff;
	float: left;
	margin-left: 86px;
}
.search input[type='text'] {
	width:360px;
	height:36px;
	float: left;
}
.search input[type='submit'] {
	width:50px;
	height:38px;
	float: left;
	background:#00a4ff url(images/search_03.png) no-repeat center;
}
.person {
	height: 38px;
	width:264px;
	/*background-color: pink;*/
	float:left;
	margin-left: 32px;
}
.person a {
	text-decoration: none;
	font-color:#050505;
	display: inline-block;
	line-height: 38px;
	float: left;
	margin-right: 15px;
}
.person img {
    float: left;
    margin-right: 15px;
    vertical-align: middle;
}
/*banner开始*/
.banner {
	height: 420px;
	background-color: #1c036c;
}
.banner-in {
	height: 420px;
	background-image: url(images/banner_03.png);
	position: relative;
}
.slidebar {
	width: 185px;
	height: 420px;
	background-color: rgba(0,0,0,0.4);
	float: left;
}
.slidebar ul li a{
	color:white;
	text-decoration: none;
	font-size: 16px;
	padding: 0 20px;
	/*a是行内元素,没有大小需要转换*/
	display: block;
	height: 46px;
	line-height: 46px;
}
.slidebar a span {
    float: right;
    /*一般符号用arial字体*/
    font-family: arial;
}
.slidebar a:hover {
	color: #00a4ff;
	text-decoration: none;
}
.timetable {
	float:right;
	width: 230px;
	height: 300px;
	/*background-color: pink;*/
	background-color: #fff;
	margin-top: 50px;
}
.timetable dt {
	height: 45px;
	background-color:#9bceea;
	text-align: center;
	line-height: 45px;
	color: white;
	font-size: 20px;
	margin-bottom: 10px;
}
.timetable dd {
	height: 60px;
	width: 190px;
	background-color: #fff;
	margin: 0 auto;
	border-bottom:  1px solid #efefef;
	box-sizing: border-box;
	padding-top: 12px;
}
.timetable dd h4 {
	font-size: 16px;
	/*让粗体不变粗*/
	font-weight: normal;
	color: #5f5f5f;
}
.timetable dd p {
	color: #acacac;
	font-size: 12px;
}
.timetable dd:last-child {
	border-bottom:0;
}
.timetable dd a {
	width:197px;
	height: 38px;
	border:1px solid #5f5f5f;
	text-decoration: none;
	display: inline-block;
	line-height: 38px;
	text-align: center;
	/*加粗,不要加px*/
	font-weight: 700;
	color: #5f5f5f;
}
.timetable dd a:hover {
	color: #00a4ff;
	border:1px solid #00a4ff;
	background-color: #9bceea;
}
.circle {
	width: 180px;
	height: 24px;
	/*background-color: pink;*/
	position:absolute;
	bottom: 10px;
    left: 50%;
    margin-left: -90px;
}
.circle li{
	float:left;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: rgba(255,255,255,.4);
	margin:6px 8px;
}
/*权重层叠掉*/
.circle .current {
	width: 20px;
	border-radius: 6px;
	background-color: #fff;
}
/*banner 结束*/

/*精品推荐模块 开始*/
.recommend {
	height: 62px;
	line-height: 62px;
	margin-top: 8px;
	/*盒子阴影*/
	box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.recommend a {
	text-decoration: none;
	text-align: center;
	padding:0 30px;
	border-left: 1px solid black;
	color: #050505;
	display: inline-block;
	float: left;
}
.recommend a:first-child {
	border-left: 0;
	color: #00a4ff;
}
.recommend a:last-child {
	border-left: 0;
	color: #00a4ff;
	float:right;
}
.recom-products {
	margin-top: 18px;
}
.recom-hd {
	height: 62px;
	/*background-color: pink;*/
}
.recom-hd h4{
	font-weight: normal;
	float: left;
	font-size: 22px;
}
.recom-hd a{
	text-decoration: none;
	float: right;
	color: #a5a5a5;
	font-size:14px;
	margin-right: 30px;
}
.recom-hd a {
	color:#00a4ff;
}
.recom-bd ul li{
	width: 230px;
	height: 270px;
	background-color: #fff;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	float: left;
	margin-right:12px; 
	margin-top: 12px;
}
/*n从0开始算*/
.recom-bd li:nth-child(5n) {
	margin-right: 0;
}
.recom-bd li h5,
.recom-bd li p {
	margin: 0 20px 0 24px;
	margin-top:12px;
	font-size: 12px;
	color: #999999; 
}
.recom-bd li h5 {
	/*行高*/
	line-height: 22px;
	font-weight: normal;
	font-size: 14px;
	color: #050505;
}
.recom-bd p span {
	color: orange;
}
/*页面底部分*/
footer {
	height: 270px;
	background-color: #fff;	
	margin-top: 98px;
}
.footer-in {
	padding-top:32px; 
}
.footer-l {
	float:left;
}
.footer-l p {
	font-size: 12px;
	line-height: 18px;
	margin-top:20px;
}
.footer-l p:last-child {
	margin-top:0;
}
.footer-l img {
	width: 196px;
	height: 42px;
}
.footer-l a {
	text-decoration: none;
	width: 118px;
	height: 32px;
	border:1px solid #00a4ff;
	color: #00a4ff;
	margin-top: 20px;
	display: block;
	line-height: 32px;
	text-align: center;
}
/*文字默认左上角对齐*/
 /*使用高度剩余法*/
.footer-r{
	float:right;
	color:#333;
} 
.footer-r dl{
	float: left;
	width: 224px;
}
/*使用高度剩余法更简单*/
/*.footer-r dl:nth-child(2){
	margin-left: 136px;
	margin-right: 136px;
}*/
.footer-r dt{
	font-size: 16px;
	height: 30px;
}
.footer-r dd{
	height: 20px;
	font-size: 12px;
}
.footer-r dd a:hover{
	color:skyblue;
	text-decoration: none;
} 